{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>
            Reviews
        </title>
        <link rel="shortcut icon" href="{% static 'reviews/icon.jpeg' %}">
        <link rel="stylesheet" href="{% static 'reviews/reviews.css' %}">
    </head>
    <body>
        <header>
            <div id="main">
                <div id="head"><a href="" id="headlink">Nikse coffee bar</a></div>
                <div id="head"><a href="/{{message}}" id="headlink">{{message}}</a></div>
                <div id="foot">
                    <div class="element">
                        <a href="/aboutcoffee">About coffee</a>
                    </div>
                    <div class="element">
                        <a href="/price">Price</a>
                    </div>
                    <div class="element">
                        <a href="/orderahead">Order ahead</a>
                    </div>
                    <div class="element">
                        <a href="/reviews">Reviews</a>
                    </div>
                    <div class="element">
                        <a href="/aboutus">About us</a>
                    </div>
                </div>
            </div>
        </header>
        <h1 style="text-align: center">Reviews</h1>
        <a href="add">Add review</a>
        <p></p>
        <div class = "container">
            {% for review in reviews %}
                <div class="review">
                    <div class="head">
                        <div class="text">{{ review.name }}</div>
                        <div class="text">{{ review.date }}</div>
                    </div>
                    <div class="main">{{ review.review }}</div>
                </div>
            {% endfor %}
        </div>
        <div class="review">
            <div class="head">
                <div class="text">Nikita</div>
                <div class="text">24.04.2022</div>
            </div>
            <div class="main">Great! The best coffee bar!</div>
        </div>
    </body>
</html>