{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>
            Order ahead
        </title>
        <link rel="shortcut icon" href="{% static 'orderahead/cart.jpeg' %}">
        <link rel="stylesheet" href="{% static 'orderahead/orderahead.css' %}">
        <style>
            #game{
                position: relative;
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <header>
            <div id="main">
                <div id="head"><a href="/" id="headlink">Nikse coffee bar</a></div>
                <div id="head"><a href="/{{message}}" id="headlink">{{message}}</a></div>
                <div id="foot">
                    <div class="element">
                        <a href="/aboutcoffee">About coffee</a>
                    </div>
                    <div class="element">
                        <a href="/price">Price</a>
                    </div>
                    <div class="element">
                        <a href="/orderahead">Order ahead</a>
                    </div>
                    <div class="element">
                        <a href="/reviews">Reviews</a>
                    </div>
                    <div class="element">
                        <a href="/aboutus">About us</a>
                    </div>
                </div>
            </div>
        </header>
        <h1><a href="cart">Go to your cart</a></h1>
        <div class="cards">
            {% for item in order %}
                <div class="card">
                    <div><img src="{{ item.img.url }}" alt="{{ item.name }}"></div>
                    <div class="text">{{ item.name }}</div>
                    <div class="price">{{ item.price }}</div>
                    <form action="{% url 'orderahead'%}"  method="post">
                        {% csrf_token %}
                        <input type="submit" value="Order" name="{{ item.name }}">
                    </form>
                </div>
            {% endfor %} 
            <div class="card">
                <div>
                    <img id="game" src="/media/Irishcoffee.jpeg" alt="Irish Coffee">
                </div>
                <script>
                    game.onclick = function(){
                        let start = Date.now();
                        let timer = setInterval(function() {
                            let timePassed = Date.now() - start;
                            game.style.left = timePassed/20 + 'px';
                            if (timePassed > 10000) clearInterval(timer);
                        }, 10);
                    }
                </script>
                <div class="text">Irish Coffee</div>
                <div class="price">2.5</div>
                <form action="{% url 'orderahead'%}"  method="post">
                    {% csrf_token %}
                    <input type="submit" value="Order" name="Irish Coffee">
                </form>
            </div> 
        </div>
    </body>
</html>