{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>
            About coffee
        </title>
        <link rel="shortcut icon" href="{% static 'aboutcoffee/icon.jpeg' %}">
        <link rel="stylesheet" href="{% static 'aboutcoffee/aboutcoffee.css' %}">
    </head>
    <body>
        <header>
            <div id="main">
                <div id="head"><a href="/" id="headlink">Nikse coffee bar</a></div>
                <div id="foot">
                    <div class="element">
                        <a href="/aboutcoffee">About coffee</a>
                    </div>
                    <div class="element">
                        <a href="/price">Price</a>
                    </div>
                    <div class="element">
                        <a href="/orderahead">Order ahead</a>
                    </div>
                    <div class="element">
                        <a href="/reviews">Reviews</a>
                    </div>
                    <div class="element">
                        <a href="/aboutus">About us</a>
                    </div>
                </div>
                </div>
            </div>
        </header>
        <main>
            <br><div class="container">
                <img src="{% static 'aboutcoffee/coffee-1.jpeg' %}" alt="Coffee">
                <img src="{% static 'aboutcoffee/coffee-2.jpeg' %}" alt="Coffee">
            </div>
            <h1>Coffee is a  delisious drink made from the roasted and ground seeds(coffee beans)</h1>
            <h4>The beens we roast, grind and brew to make coffee are the seeds of a Coffea plant. It's the pip inside the red or purple fruit often reffered to as a cherry.</h4>
            <div class="container">
                <img src="{% static 'aboutcoffee/coffeeplant-1.jpeg' %}" alt="Coffea plant">
                <img src="{% static 'aboutcoffee/coffeeplant-2.jpeg' %}" alt="Coffea seeds">
            </div>
            <h4>There are four different types of beans: Arabica, Robusta, Liberica, and Excelsa. The most common are Arabica and Robusta</h4>
            <div class="container">
                <img src="{% static 'aboutcoffee/beans-1.jpeg' %}" alt="Types of beans">
                <img src="{% static 'aboutcoffee/beans-2.jpeg' %}" alt="Types of beans">
            </div>
            {% for item in aboutcoffee %}
                <h2>{{ item.name1 }}</h2>
                <h1>{{ item.name2 }}</h1>
                <h4>{{ item.text1 }}</h4>
                <h4>{{ item.text2 }}</h4>
                <div class="quotes">{{item.quote}}</div>
                <div class="container">
                    <img src="{{item.photo1.url}}" alt="{{ item.name1 }}">
                    <img src="{{item.photo2.url}}" alt="{{ item.name1 }}">;
                </div>
            {% endfor %} 
        </main> 
    </body>
</html>