body{
    background-color: whitesmoke;
}
#main{
    background-color: bisque;
    width: 100%;
    font-size: 200%;
    font-family: cursive;
    font-weight: bolder;
    padding: 3px;
}
#head{
    text-align: center;
    border-bottom: 2px double black;
}
#foot{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
#foot1{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border-bottom: 2px double black;
}
.element{
    margin-right: 30px;
    margin-left: 30px;
}
a{
    text-decoration: none;
    color: rgb(194, 8, 8);
}
#headlink{
    color:black;
}
.message{
    font-size: 300%;
}