{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <title>
            Price
        </title>
        <link rel="shortcut icon" href="{% static 'price/icon.jpeg' %}">
        <link rel="stylesheet" href="{% static 'price/price.css' %}">
    </head>
    <body>
        <header>
            <div id="main">
                <div id="head"><a href="/" id="headlink">Nikse coffee bar</a></div>
                <div id="foot">
                    <div class="element">
                        <a href="/aboutcoffee">About coffee</a>
                    </div>
                    <div class="element">
                        <a href="/price">Price</a>
                    </div>
                    <div class="element">
                        <a href="/orderahead">Order ahead</a>
                    </div>
                    <div class="element">
                        <a href="/reviews">Reviews</a>
                    </div>
                    <div class="element">
                        <a href="/aboutus">About us</a>
                    </div>
                </div>
            </div>
        </header>
        <table>
            <caption>Coffee</caption>
            {% for item in price %}
                <tr>
                    <td>
                        <a href="#{{item.t}}" id="headlink">{{item.name}}</a>
                    </td>
                    <td class="recipe">
                        {{item.recipe}}
                    </td>
                    <td>
                        {{item.price}}$
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% for item in price %}
            <h1 id="{{item.t}}">{{item.name}}</h1>  
            <div>
                <h4>
                    {{ item.description }}
                    <p></p>
                    <div class="quotes">
                        {{ item.quote }}
                    </div>
                </h4>
                <img src="{{item.img.url}}" alt="{{item.name}}">
            </div>
        {% endfor %}
    </body>
</html>
