body{
    background-image: url("WordArt.jpeg");
    background-repeat: repeat;
    background-size: 20%;
}
form{
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
}
#name{
    width: 20%;
    font-size: 150%;
    text-align: center;
}
#submit{
    font-size: 170%;
}