{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>
            Nikse coffee bar
        </title>
        <link rel="shortcut icon" href="{% static 'mainpage/icon.jpeg' %}">
        <link rel="stylesheet" href="{% static 'mainpage/mainpage.css' %}">
    </head>
    <body>
        <header>
            <div id="main">
                <div id="head"><a href="" id="headlink">Nikse coffee bar</a></div>
                <div id="head"><a href="/{{message}}" id="headlink">{{message}}</a></div>
                <div id="foot">
                    <div class="element">
                        <a href="/aboutcoffee">About coffee</a>
                    </div>
                    <div class="element">
                        <a href="/price">Price</a>
                    </div>
                    <div class="element">
                        <a href="/orderahead">Order ahead</a>
                    </div>
                    <div class="element">
                        <a href="/reviews">Reviews</a>
                    </div>
                    <div class="element">
                        <a href="/aboutus">About us</a>
                    </div>
                </div>
            </div>
        </header>
    </body>
</html>