{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>
            Register
        </title>
        <link rel="shortcut icon" href="{% static 'mainpage/icon.jpeg' %}">
        <link rel="stylesheet" href="{% static 'mainpage/register.css' %}">
    </head>
</html>
<body>
    <header>
        <div id="main">
            <div id="head"><a href="" id="headlink">Nikse coffee bar</a></div>
            <div id="head"><a href="/login" id="headlink">login</a></div>
            <div id="foot">
                <div class="element">
                    <a href="/aboutcoffee">About coffee</a>
                </div>
                <div class="element">
                    <a href="/price">Price</a>                    
                </div>
                <div class="element">
                    <a href="/orderahead">Order ahead</a>
                </div>
                <div class="element">
                    <a href="/reviews">Reviews</a>
                </div>
                <div class="element">
                    <a href="/aboutus">About us</a>
                </div>
            </div>
        </div>
    </header>
    <h1>Registration form</h1>
    <form method = "post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>
</body>