body{
    background-color: whitesmoke;
}
#main{
    background-color: bisque;
    width: 100%;
    font-size: 200%;
    font-family: cursive;
    font-weight: bolder;
    padding: 3px;
    margin-bottom: 10px;
}
#head{
    text-align: center;
    border-bottom: 2px double black;
}
#foot{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.element{
    margin-right: 30px;
    margin-left: 30px;
}
a{
    text-decoration: none;
    color: rgb(194, 8, 8);
}
#headlink{
    color:black;
}
h1{
    font-family:cursive;
}
h2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h4{
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 140%;
    line-height: 150%;
}
.content{
    text-align: center;
    font-size: 125%;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}
img{
    width: 49%;
}
.quotes{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    border-left: 4px double red;
    margin-bottom: 10px;

}


